# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  test:
    docker:
      - image: cimg/python:3.10
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "run tests"
          command: "make pipeline-test"
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: htmlcov
  release-patch:
    docker:
      - image: cimg/python:3.10
    steps:
      - add_ssh_keys:
          fingerprints:
            - "bd:ad:32:98:4a:a7:df:74:37:56:e9:0f:7b:71:a8:0a"
      - checkout
      - run:
          name: "release patch"
          command: "make pipeline-release.patch"

  docs-build:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: make pip-install
      - run:
          name: Build docs
          command: "make pipeline-build-docs"
      - persist_to_workspace:
          root: docs/_build
          paths:
          - html
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "ci-build@kafkaescli"
            git config user.name "ci-build"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist docs/_build/html
  build-docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true
      - run:
          name: "Build branch to docker hub"
          command: make docker-build
      - run:
          name: "Push branch to docker hub"
          command: make docker-push
  release-docker:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: "release to docker hub"
          command: "echo 'TODO'"

# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  default:
    jobs:
      - test
      - hold:
          filters:
            branches:
              only: /^main$/
            tags:
              only: /^\d+\.\d+\.\d+$/
          type: approval
          requires:
           - test
      - release-patch:
          requires:
            - hold
  docs:
    jobs:
      - docs-build:
          filters:
            branches:
              only: /^main$/
      - docs-deploy:
          requires:
            - docs-build

  docker:
    jobs:
      - build-docker:
          filters:
            branches:
              only: /^main$/
      - hold:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
          type: approval
          requires:
           - build-docker
      - release-docker:
          requires:
            - hold
